 .container_add_new{
     margin-top: 4%;
     display: flex;
     justify-content: center;
 }
 .container_add_new .form_add_new{
     width: 40rem;
     padding: 1px;
     border-radius: 6px;
     background: #fdfdfdd9;
     margin: 1rem 1rem;
     border: 1px solid rgb(209, 209, 209);
     box-shadow: 3px 2px 5px rgba(179, 179, 179, 0.21),
                 3px 3px 5px rgba(221, 221, 221, 0.4),
                 0px 3px 5px rgba(176, 176, 176, 0.4);
 }
 .container_add_new .form_add_new:hover {
     border: 1px solid rgba(96, 96, 96, 0.363);
     box-shadow: 3px 2px 5px rgba(149, 149, 149, 0.544),
                 -1px 2px 5px rgba(157, 157, 157, 0.452), 
                 1px 2px 4px rgba(151, 151, 151, 0.401);
     transition: ease-in all .3s;
 }

.input-error {
    border: 1px solid red;
}
.input-success {
    border-color: green !important;
}

.img_size{
   height: 40%;
   width: 40%;
}

